@import '../../sass/variables';

.btn{
    background-color: $green;
    border: transparent;
    font-family: $ff-silkscreen;
    font-size: 2.0rem;
    font-weight: $fw-bold;
    color: $white;
    padding: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon{
        width: 20px;
        height: 20px;
        object-fit: contain;
        margin-left: 5px;
    }

    &--full{
        width: 100%;
    }

    &--red{
        background-color: $red;
        color: $black;
        padding: 6px;
        font-size: 1.6rem;
    }

    &--post{
        background-color: $background;
        color: $black;
        transition: 0.5s;
        padding: 8px;
        width: fit-content;
        align-self: flex-end;

        &:hover{
            background-color: $green;
            color: $white;
        }
    }
}