@import '../../sass/variables';

.user-picture{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;

    &--small{
        width: 33px;
        height: 33px;
        border: 2px solid $yellow;
    }

    &--big{
        width: 105px;
        height: 105px;
        border: 4px solid $yellow;
    }
}