@import '../../sass/variables';

.icon-btn{
    width: 28px;
    height: 28px;
    object-fit: contain;
    cursor: pointer;

    &--small{
        width: 18px;
        height: 18px;
    }

    &__text{
        font-family: $ff-silkscreen;
        color: $white;
        font-size: 2rem;
        font-weight: $fw-regular;
    }
}